@model IEnumerable<SystemTaimsalDevs.EL.UserDev>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuario</h1>

<p style="padding-left:88%">
    <a type="button" class="btn btn-primary" asp-action="Create">Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastNameUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                    @if(item.StatusUser == 1)
                    {
                        <td>ACTIVO</td>
                    }
                    else if(item.StatusUser == 2)
                    {
                    <td>INACTIVO</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.NameRol)
                </td>
                <td>
                    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdUser">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.IdUser">Detalles</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUser">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
